body {
  background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.secondary  {
  font-family: 'Roboto';
  background-color: rgba(1, 0, 0, 0.6);
  max-width: 600px;
  color: white;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
  text-align: justify;
}

button  {
  background: #DB3030;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

@media (min-width: 750px) {
  .secondary {
    margin-left: 50px;
    margin-top: 50px;
  }
}
